  <div class="container mt-5 " >
    <form>
      <div class="card bg-primary text-white mb-4">
        <div class="card-body">Add an item!</div>
      </div>
      <div class="row mb-4">
        <label class="col-sm-2 col-form-label" for="purchase-link">Link to the item</label>
        <div class="col-sm-10">
          <input type="text" id="purchase-link" class="form-control" />
        </div>
      </div>
      <div class="card bg-info text-white mb-4">
        <div class="card-body">Optional</div>
      </div>
      <div class="row mb-4">
        <label class="col-sm-2 col-form-label" for="item-name">Item Name</label>
        <div class="col-sm-10">
          <input type="email" id="item-name" class="form-control" />
        </div>
      </div>
      <div class="row mb-4">
        <label class="col-sm-2 col-form-label" for="item-description">Item Description</label>
        <div class="col-sm-10">
          <textarea class="form-control" id="item-description" rows="4"></textarea>
        </div>
      </div>
      <div class="row mb-4">
        <label class="col-sm-2 col-form-label" for="image-link">Link to image for item</label>
        <div class="col-sm-10">
          <input type="email" id="image-link" class="form-control" />
        </div>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary btn-block mb-4" id="submit">Submit Item</button>
      </div>
    </form>
  </div>